@media screen and (max-width: 992px) {
  .filterByType{
    visibility: hidden;
  }

  .filter-mobile{
    visibility: visible !important;
  }
}

.filter{
  padding-top:2rem;
}

.filter-mobile{
  visibility: hidden;
  position: absolute;
  width: 90%;
  top:2rem;
}

#eventtype, #sort{
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#sort{
  width: 25%;
  float: right;
  margin-right: 2rem;
}

#eventtype{
  width: 45%;
  float: left;
  margin-left: 1rem;
}

.filterByType{
  position: relative;
}

.filterByType li{
  cursor: default;
  user-select: none;
}

.filterByType ul li{
  font-size: 17px;
  display: inline-block;
  float: left;
  padding: 0.5rem 2rem 0.5rem 2rem;
}

.filterByType li:hover{
  background-color: rgba(37, 11, 206, 0.7);
  border-radius: 20px;
  width: auto;
  color: #fff;
}

a{
  text-decoration: none;
  color: #000;
}

input{
  display: none;
}

input:checked{
  background-color: rgba(37, 11, 206, 0.7);
  border-radius: 20px;
  width: auto;
  color: #fff;
}

